<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ShikiDesk.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <connectionStrings>
      <add name="UserRates"
            connectionString="Data Source=UserRates.sqlite3"
            providerName="SQLite" />
      <add name="Filters"
           connectionString="Data Source=Filters.sqlite3"
           providerName="SQLite" />
    </connectionStrings>
    <userSettings>
        <ShikiDesk.Properties.Settings>
            <setting name="nickname" serializeAs="String">
                <value />
            </setting>
            <setting name="access_token" serializeAs="String">
                <value />
            </setting>
            <setting name="curren_user_id" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="firstStart" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="titleLanguage" serializeAs="String">
                <value>EN</value>
            </setting>
        </ShikiDesk.Properties.Settings>
    </userSettings>
</configuration>